{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{#moved to main page#}
{% block content %}
<div class='content-section'>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a T-shirt</legend>
                {{ form|crispy }}
     </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add New T-shirt</button>
            </div>
  </form>
</div>
{% endblock %}




