{% extends "base_generic.html" %}

{% block content %}
  <h1>Tshirts homepage</h1>
  <p>Welcome to the Tshirts homepage!</p>
  <h2>Dynamic content</h2>
  <p>The Tshirt portal has the following record counts:</p>
  <ul>
    <li><strong>Tshirts:</strong> {{ num_tshirts }} </li> {# this counts the number of tshirt items #}
    <li><strong>Brands:</strong>{{ num_brands }} </li> {# yet to impement.#}
    <li><strong>Stories:</strong> {{ num_stories }} </li>
  </ul>
{% endblock %}

{#  TODO: Add a way to count the total number of Brands, Tshirts and Stories https://docs.djangoproject.com/en/3.0/topics/class-based-views/generic-display/ #}
