<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find your flat</title>
</head>
<body>
<style>
    body {
        font-family: Helvetica;
    }

    .errorlist > li {

        color: red;
    }
</style>

<form action="" method="post">
    <table cellspacing="30">
        {% csrf_token %}
        {{ form }}
    </table>
    <button type="submit">Search</button>
</form>
<p></p>
<table cellpadding="5">
    {% for row in result %}
        <tr>
            <td width="600"><a href="{{ row.url }}">{{ row.title }}</a></td>
        <td width="100">{{ row.rooms }}</td>
        <td width="100">{{ row.price }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>