{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a movie</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
{% if edit %}
<h1>Edit your movie</h1>
{% else %}
<h1>Add your movie</h1>
{% endif %}
<form method="post" enctype="multipart/form-data">
<table>
    {% csrf_token %}
    {{ form }}
</table>
    {% if edit %}
    <button type="submit">Save movie</button>
    {% else %}
    <button type="submit">Add movie</button>
    {% endif %}
</form>
</body>
</html>